[Unit]
Description=Light Control Service

[Service]
ExecStart=/home/blaxers/Desktop/PiProjects/leds_ws2812b/start.sh
User=root  # Zastąp 'your_username' swoją nazwą użytkownika, jeśli potrzebne

[Install]
WantedBy=multi-user.target