[Unit]
Description=Light Control Service

[Service]
ExecStart=/home/blaxers/Desktop/PiProjects/leds_ws2812b/start.sh
User=root
PermissionsStartOnly=true
ExecStartPre=/bin/chmod +x /home/blaxers/Desktop/PiProjects/leds_ws2812b/start.sh
ExecStartPre=/bin/chown root:root /home/blaxers/Desktop/PiProjects/leds_ws2812b/start.sh
ExecStartPre=/bin/chmod u+s /home/blaxers/Desktop/PiProjects/leds_ws2812b/
